{%- liquid
  assign hide_icon_labels = true
  if nav_position == 'below'
    assign hide_icon_labels = false
  endif
-%}

<div class="site-nav">
  {% if section.settings.show_category_menu %}
    <button
      type="button"
      aria-controls="CategoryNav"
      class="category-trigger small--hide"
    >
      <span class="category-trigger-text">{{ section.settings.title_category_menu }}</span>

      <svg width="20" height="24" viewBox="0 0 18 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.6875 10.1875L8.6875 14.1875L12.6875 10.1875" stroke="#1E062C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  {% endif %}
  <div class="site-nav__icons">
    {% if section.settings.show_search_icon %}
      <a href="{{ routes.search_url }}" class="site-nav__link site-nav__link--icon js-search-header js-no-transition">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64">
          <defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"/>
        </svg>
        <span class="icon__fallback-text">{{ 'general.search.title' | t }}</span>
      </a>
    {% endif %}

    {% comment %}

      <a href="{{ routes.cart_url }}"
        id="HeaderCartTrigger"
        aria-controls="HeaderCart"
        class="site-nav__link site-nav__link--icon js-no-transition"
        data-icon="{{ settings.cart_icon }}">
        <span class="cart-link">
          {%- if settings.cart_icon == 'cart' -%}
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18 6H16C16 3.79 14.21 2 12 2C9.79 2 8 3.79 8 6H6C4.9 6 4 6.9 4 8V20C4 21.1 4.9 22 6 22H18C19.1 22 20 21.1 20 20V8C20 6.9 19.1 6 18 6ZM12 4C13.1 4 14 4.9 14 6H10C10 4.9 10.9 4 12 4ZM18 20H6V8H8V10C8 10.55 8.45 11 9 11C9.55 11 10 10.55 10 10V8H14V10C14 10.55 14.45 11 15 11C15.55 11 16 10.55 16 10V8H18V20Z" fill="#1E062C"/>
            </svg>
          {%- elsif settings.cart_icon == 'bag-minimal' -%}
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18 6H16C16 3.79 14.21 2 12 2C9.79 2 8 3.79 8 6H6C4.9 6 4 6.9 4 8V20C4 21.1 4.9 22 6 22H18C19.1 22 20 21.1 20 20V8C20 6.9 19.1 6 18 6ZM12 4C13.1 4 14 4.9 14 6H10C10 4.9 10.9 4 12 4ZM18 20H6V8H8V10C8 10.55 8.45 11 9 11C9.55 11 10 10.55 10 10V8H14V10C14 10.55 14.45 11 15 11C15.55 11 16 10.55 16 10V8H18V20Z" fill="#1E062C"/>
            </svg>
          {%- else -%}
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18 6H16C16 3.79 14.21 2 12 2C9.79 2 8 3.79 8 6H6C4.9 6 4 6.9 4 8V20C4 21.1 4.9 22 6 22H18C19.1 22 20 21.1 20 20V8C20 6.9 19.1 6 18 6ZM12 4C13.1 4 14 4.9 14 6H10C10 4.9 10.9 4 12 4ZM18 20H6V8H8V10C8 10.55 8.45 11 9 11C9.55 11 10 10.55 10 10V8H14V10C14 10.55 14.45 11 15 11C15.55 11 16 10.55 16 10V8H18V20Z" fill="#1E062C"/>
            </svg>
          {%- endif -%}
          <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}">
            <span class="cart-link__bubble-num">{{ cart.item_count }}</span>
          </span>
        </span>
        <span class="site-nav__icon-label small--hide{% if hide_icon_labels %} icon__fallback-text{% endif %}">
          {{ 'layout.cart.title' | t }}
        </span>
      </a>
    {% endcomment %}

    {%- if shop.customer_accounts_enabled -%}
      <a class="site-nav__link site-nav__link--icon" href="/account/login">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.6129 7.50555C7.6129 5.0172 9.57707 3 12 3C14.4229 3 16.3871 5.0172 16.3871 7.50555C16.3871 9.9939 14.4229 12.0111 12 12.0111C9.57707 12.0111 7.6129 9.9939 7.6129 7.50555ZM12 4.59019C10.4322 4.59019 9.16129 5.89544 9.16129 7.50555C9.16129 9.11566 10.4322 10.4209 12 10.4209C13.5678 10.4209 14.8387 9.11566 14.8387 7.50555C14.8387 5.89544 13.5678 4.59019 12 4.59019Z" fill="#1E062C"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.87097 15.1915C6.58824 15.1915 5.54839 16.2594 5.54839 17.5768V18.8365C5.54839 18.8557 5.56192 18.8721 5.58036 18.8751C9.83197 19.588 14.168 19.588 18.4196 18.8751C18.4381 18.8721 18.4516 18.8557 18.4516 18.8365V17.5768C18.4516 16.2594 17.4118 15.1915 16.129 15.1915H15.7772C15.75 15.1915 15.7229 15.1959 15.6971 15.2046L14.8036 15.5042C12.9819 16.1151 11.0181 16.1151 9.19637 15.5042L8.30294 15.2046C8.27707 15.1959 8.25004 15.1915 8.22283 15.1915H7.87097ZM4 17.5768C4 15.3812 5.73309 13.6013 7.87097 13.6013H8.22283C8.41328 13.6013 8.60252 13.6322 8.78356 13.6929L9.67699 13.9925C11.1864 14.4987 12.8136 14.4987 14.323 13.9925L15.2164 13.6929C15.3975 13.6322 15.5867 13.6013 15.7772 13.6013H16.129C18.2669 13.6013 20 15.3812 20 17.5768V18.8365C20 19.635 19.4365 20.3159 18.6691 20.4446C14.2523 21.1851 9.74771 21.1851 5.33086 20.4446C4.56349 20.3159 4 19.635 4 18.8365V17.5768Z" fill="#1E062C"/>
        </svg>
        {% comment %}
          <span class="site-nav__icon-label{% if hide_icon_labels %} icon__fallback-text{% endif %}">
            {{ 'layout.customer.account' | t }}
          </span>
        {% endcomment %}
      </a>
    {%- endif -%}

    {% if section.settings.show_search_icon %}
      <a
        href="{{ routes.search_url }}"
        class="site-nav__link site-nav__link--icon js-search-header{% if nav_position == 'below' %} medium-up--hide{% endif %} js-no-transition"
      >
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64">
          <defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"/>
        </svg>
        <span class="icon__fallback-text">{{ 'general.search.title' | t }}</span>
      </a>
    {% endif %}

    <a
      href="{{ routes.cart_url }}"
      id="HeaderCartTrigger"
      aria-controls="HeaderCart"
      class="site-nav__link site-nav__link--icon js-no-transition"
      data-icon="{{ settings.cart_icon }}"
    >
      <span class="cart-link">
        {%- if settings.cart_icon == 'cart' -%}
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.25002 7.24976V7.12988C7.25002 4.96214 8.71763 3.0694 10.8171 2.52954C11.5931 2.33 12.407 2.33 13.183 2.52954C15.2824 3.0694 16.75 4.96214 16.75 7.12988V7.24976H18.2511C18.8224 7.24976 19.3073 7.66874 19.3901 8.23398L19.6088 9.72644C20.0393 12.6649 20.0393 15.6504 19.6088 18.5889C19.4008 20.0079 18.2565 21.105 16.83 21.2529L16.2011 21.3181C13.4079 21.6078 10.5921 21.6078 7.79888 21.3181L7.17001 21.2529C5.74347 21.105 4.59918 20.0079 4.39127 18.5889C3.96072 15.6504 3.96072 12.6649 4.39127 9.72643L4.60994 8.23398C4.69276 7.66874 5.17761 7.24976 5.74889 7.24976H7.25002ZM11.1906 3.98228C11.7216 3.84575 12.2784 3.84575 12.8094 3.98228C14.2459 4.35166 15.25 5.64669 15.25 7.12988V7.24976H8.75002V7.12988C8.75002 5.64669 9.75417 4.35166 11.1906 3.98228ZM7.25002 8.74976V10.9998C7.25002 11.414 7.5858 11.7498 8.00002 11.7498C8.41423 11.7498 8.75002 11.414 8.75002 10.9998V8.74976H15.25V10.9998C15.25 11.414 15.5858 11.7498 16 11.7498C16.4142 11.7498 16.75 11.414 16.75 10.9998V8.74976H17.9496L18.1246 9.94389C18.534 12.7381 18.534 15.5772 18.1246 18.3714C18.0162 19.1115 17.4193 19.6837 16.6753 19.7609L16.0464 19.8261C13.356 20.1051 10.644 20.1051 7.95361 19.8261L7.32474 19.7609C6.5807 19.6837 5.98386 19.1115 5.87542 18.3714C5.46601 15.5772 5.46601 12.7381 5.87542 9.94389L6.05039 8.74976H7.25002Z" fill="#1E062C"/>
          </svg>
        {%- elsif settings.cart_icon == 'bag-minimal' -%}
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 6H16C16 3.79 14.21 2 12 2C9.79 2 8 3.79 8 6H6C4.9 6 4 6.9 4 8V20C4 21.1 4.9 22 6 22H18C19.1 22 20 21.1 20 20V8C20 6.9 19.1 6 18 6ZM12 4C13.1 4 14 4.9 14 6H10C10 4.9 10.9 4 12 4ZM18 20H6V8H8V10C8 10.55 8.45 11 9 11C9.55 11 10 10.55 10 10V8H14V10C14 10.55 14.45 11 15 11C15.55 11 16 10.55 16 10V8H18V20Z" fill="#1E062C"/>
          </svg>
        {%- else -%}
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.25002 7.24976V7.12988C7.25002 4.96214 8.71763 3.0694 10.8171 2.52954C11.5931 2.33 12.407 2.33 13.183 2.52954C15.2824 3.0694 16.75 4.96214 16.75 7.12988V7.24976H18.2511C18.8224 7.24976 19.3073 7.66874 19.3901 8.23398L19.6088 9.72644C20.0393 12.6649 20.0393 15.6504 19.6088 18.5889C19.4008 20.0079 18.2565 21.105 16.83 21.2529L16.2011 21.3181C13.4079 21.6078 10.5921 21.6078 7.79888 21.3181L7.17001 21.2529C5.74347 21.105 4.59918 20.0079 4.39127 18.5889C3.96072 15.6504 3.96072 12.6649 4.39127 9.72643L4.60994 8.23398C4.69276 7.66874 5.17761 7.24976 5.74889 7.24976H7.25002ZM11.1906 3.98228C11.7216 3.84575 12.2784 3.84575 12.8094 3.98228C14.2459 4.35166 15.25 5.64669 15.25 7.12988V7.24976H8.75002V7.12988C8.75002 5.64669 9.75417 4.35166 11.1906 3.98228ZM7.25002 8.74976V10.9998C7.25002 11.414 7.5858 11.7498 8.00002 11.7498C8.41423 11.7498 8.75002 11.414 8.75002 10.9998V8.74976H15.25V10.9998C15.25 11.414 15.5858 11.7498 16 11.7498C16.4142 11.7498 16.75 11.414 16.75 10.9998V8.74976H17.9496L18.1246 9.94389C18.534 12.7381 18.534 15.5772 18.1246 18.3714C18.0162 19.1115 17.4193 19.6837 16.6753 19.7609L16.0464 19.8261C13.356 20.1051 10.644 20.1051 7.95361 19.8261L7.32474 19.7609C6.5807 19.6837 5.98386 19.1115 5.87542 18.3714C5.46601 15.5772 5.46601 12.7381 5.87542 9.94389L6.05039 8.74976H7.25002Z" fill="#1E062C"/>
          </svg>
        {%- endif -%}
        <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}">
          <span class="cart-link__bubble-num">{{ cart.item_count }}</span>
        </span>
      </span>
      {% comment %}
        <span class="site-nav__icon-label small--hide{% if hide_icon_labels %} icon__fallback-text{% endif %}">
          {{ 'layout.cart.title' | t }}
        </span>
      {% endcomment %}
    </a>

    <button
      type="button"
      aria-controls="MobileNav"
      class="site-nav__link site-nav__link--icon mobile-icon mobile-nav-trigger medium-up--hide"
    >
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.59961 5.9998C3.59961 5.68154 3.72604 5.37632 3.95108 5.15128C4.17612 4.92623 4.48135 4.7998 4.79961 4.7998H19.1996C19.5179 4.7998 19.8231 4.92623 20.0481 5.15128C20.2732 5.37632 20.3996 5.68154 20.3996 5.9998C20.3996 6.31806 20.2732 6.62329 20.0481 6.84833C19.8231 7.07338 19.5179 7.1998 19.1996 7.1998H4.79961C4.48135 7.1998 4.17612 7.07338 3.95108 6.84833C3.72604 6.62329 3.59961 6.31806 3.59961 5.9998ZM3.59961 11.9998C3.59961 11.6815 3.72604 11.3763 3.95108 11.1513C4.17612 10.9262 4.48135 10.7998 4.79961 10.7998H19.1996C19.5179 10.7998 19.8231 10.9262 20.0481 11.1513C20.2732 11.3763 20.3996 11.6815 20.3996 11.9998C20.3996 12.3181 20.2732 12.6233 20.0481 12.8483C19.8231 13.0734 19.5179 13.1998 19.1996 13.1998H4.79961C4.48135 13.1998 4.17612 13.0734 3.95108 12.8483C3.72604 12.6233 3.59961 12.3181 3.59961 11.9998ZM3.59961 17.9998C3.59961 17.6815 3.72604 17.3763 3.95108 17.1513C4.17612 16.9262 4.48135 16.7998 4.79961 16.7998H11.9996C12.3179 16.7998 12.6231 16.9262 12.8481 17.1513C13.0732 17.3763 13.1996 17.6815 13.1996 17.9998C13.1996 18.3181 13.0732 18.6233 12.8481 18.8483C12.6231 19.0734 12.3179 19.1998 11.9996 19.1998H4.79961C4.48135 19.1998 4.17612 19.0734 3.95108 18.8483C3.72604 18.6233 3.59961 18.3181 3.59961 17.9998Z" fill="#1E062C"/>
      </svg>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 15L9 9M15 9L9 15" stroke="#1E062C" stroke-width="2" stroke-linecap="round"/>
        <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#1E062C" stroke-width="2"/>
      </svg>

      <span class="icon__fallback-text">{{ 'general.drawers.navigation' | t }}</span>
    </button>
  </div>

  <div class="site-nav__close-cart">
    <button type="button" class="site-nav__link site-nav__link--icon js-close-header-cart">
      <span>{{ 'general.accessibility.close' | t }}</span>
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64">
        <defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M19 17.61l27.12 27.13m0-27.13L19 44.74"/>
      </svg>
    </button>
  </div>
</div>
