{%- form 'product', product, id: form_id, class: 'product-single__form', data-loop-product-id: product.id -%}
  {% comment %}
    DO NOT modify this source code
    LOOP WIDGET CODE STARTS
  {% endcomment %}
  {% assign template_exists = false %}
  {% capture template_content %}
    {% render 'loop-subscriptions', type: 'product-widget', product: product %}
{% endcapture %}

  {% if template_content contains 'Rendering loop-subscriptions' %}
    {% assign template_exists = true %}
  {% endif %}

  {% if template_exists %}
    {% render 'loop-subscriptions', type: 'product-widget', product: product %}
  {% endif %}
  {% comment %}
    LOOP WIDGET CODE ENDS
  {% endcomment %}

  {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
    <div class="product__policies rte">
      {%- if shop.taxes_included -%}
        {{ 'products.product.include_taxes' | t }}
      {%- endif -%}
      {%- if shop.shipping_policy.body != blank -%}
        {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
      {%- endif -%}
    </div>
  {%- endif -%}

  {%- liquid
    assign enable_dynamic_buttons = false
    if show_dynamic_checkout and template != 'product.preorder'
      assign enable_dynamic_buttons = true
    endif
  -%}

  {%- if enable_dynamic_buttons -%}
    <div class="payment-buttons">
  {%- endif -%}

  {%- liquid
    assign direct_to_checkout = block.settings.direct_to_checkout
    assign default_text = 'products.product.add_to_cart' | t
    assign button_text = 'products.product.add_to_cart' | t
    if template == 'product.preorder'
      assign default_text = 'products.product.preorder' | t
      assign button_text = 'products.product.preorder' | t
    endif
    unless current_variant.available
      assign button_text = 'products.product.sold_out' | t
    endunless
  -%}

  <button
    {% if product.empty? %}
      type="button"
    {% else %}
      type="submit"
    {% endif %}
    name="add"
    data-add-to-cart
    {% if direct_to_checkout == true %}
      onclick="directCheckout({{ current_variant.id }})"
    {% endif %}
    class="c-button -primary main-product__button add-to-cart {% if block.settings.full_width_button %}-fluid{% endif %}"
    {% unless current_variant.available %}
      disabled="disabled"
    {% endunless %}
  >
    <span
      data-product-price
      skio-price
      skio-key="{{ product.id }}"
      class="main-product__price"
    >
      {%- unless product.empty? -%}
        {%- render 'price' with current_variant.price -%}
      {%- else -%}
        {%- render 'price' with 1999 -%}
      {%- endunless -%}
    </span>
    <span data-add-to-cart-text data-default-text="{{ default_text }}">
      {{ button_text }}
    </span>
    <!-- test123 -->
  </button>

  {%- if enable_dynamic_buttons -%}
    {{ form | payment_button }}
  {%- endif -%}

  {%- if enable_dynamic_buttons -%}
    </div>
  {%- endif -%}

  <!-- <div class="shopify-payment-terms product__policies">{{ form | payment_terms }}</div> -->

  <select name="id" data-product-select class="product-single__variants no-js">
    {%- for variant in product.variants -%}
      {%- if variant.available -%}
        <option
          {% if variant == product.selected_or_first_available_variant %}
            selected="selected"
          {% endif %}
          value="{{ variant.id }}"
        >
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {%- else -%}
        <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
      {%- endif -%}
    {%- endfor -%}
  </select>

  <textarea data-variant-json class="hide" aria-hidden="true" aria-label="Product JSON">
    {{ product.variants | json }}
  </textarea>
  {%- if product.options.size > 1 -%}
    <textarea data-current-variant-json class="hide" aria-hidden="true" aria-label="Variant JSON">
      {{ current_variant | json }}
    </textarea>
  {%- endif -%}
{%- endform -%}
<script>
  console.log('direct to checkout','{{ direct_to_checkout }}')
  function directCheckout(variantId){
    console.log('direct checkout with',variantId);
    location.href= `/cart/${variantId}:1`
  }
</script>
