<section id="{{ section.id }}">
  <div class="page-width product-column-section">
    <div class="products-container">
      {% if section.settings.custom_html %}
        <div class="custom-html" style="visibility:hidden;">
          {{ section.settings.custom_html }}
        </div>
      {% endif %}
      {% if section.settings.title %}
        <p class="section-heading">
          {{ section.settings.title }}
        </p>
      {% endif %}
      <div class="product-grid-container">
        {% assign grid_length = 0 %}
        {% for block in section.blocks %}
          {% if block.type == 'product' %}
            {% assign grid_length = grid_length | plus: 1 %}
            <div class="product-grid-item" {{ block.shopify_attributes }}>
              <div class="product-info">
                <p class="block-title">{{ block.settings.title }}</p>
                <p class="block-subtitle">{{ block.settings.subtitle }}</p>
                <img
                  class="product-image"
                  src="{{ block.settings.product_image | image_url: height:270 }}"
                  alt="product-image"
                  height="170"
                  width="auto"
                >
              </div>
              <div class="product-content">
                <div class="block-price-container">
                  <span class="money block-price">{{ block.settings.price }}</span>
                </div>
                <a href="{{ block.settings.btn_url }}" class="product-cta-btn">{{ block.settings.btn_content }}</a>
                <p class="block-total-price">{{ block.settings.total_price }}</p>
                <img
                  src="{{ block.settings.payment_method | image_url: width:215, height: 34 }}"
                  alt=""
                  height="34"
                  width="215"
                  class="block-payment-icon"
                >
                <p class="block-footer-text">
                  {{ block.settings.footer_text }}
                </p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<style>
  #{{ section.id }} .page-width{
    padding: 80px;
  }
  #{{ section.id }} .product-grid-container{
    display: grid;
    grid-template-columns: repeat({{  grid_length }}, 1fr);
    align-items: center;
    justify-items:center;
    gap:24px;
    max-width: 1030px;
    margin: 0 auto;
    margin-top: 60px;
  }
  .product-column-section .section-heading{;
    color: #1E062C;
    text-align: center;
    font-family: "Bergen Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 108.333% */
  }
  .product-grid-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 10px;
    border-radius: 16px;
    border: 2px solid #C2C4C9;
    background: #FFF;
    padding: 30px;
  }
  .product-grid-item:nth-child(2){
    padding: 50px 30px;
    border-radius: 16px;
    border: 2px solid #62519D;
    background: #E5E4EC;
    box-shadow: 0px 2px 36px 0px rgba(0, 0, 0, 0.15);
  }
  .product-grid-item .product-info, .product-grid-item .product-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-grid-item .block-title {
    color: #62519D;
    text-align: center;
    font-family: "Bergen Sans";
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }
  .product-grid-item .block-subtitle {
    color: #1E062C;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .product-grid-item .block-price-container .money{
    color: #62519D;
    text-align: center;
    font-family: "Bergen Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.22px;
  }
  .product-grid-item .block-price-container .block-price-text{
    color: #1E062C;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.24px;
  }
  .product-grid-item .product-cta-btn{
    border-radius: 6px;
    background: #1E062C;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 17px;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: "Bergen Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px; /* 100% */
    text-transform: uppercase;
  }
  .block-payment-icon{
    margin: 5px auto;
  }

  @media (max-width: 550px) {
    .product-grid-item .block-price-container .money{
      font-size: 48px;
    }
    .product-grid-item .block-title{
      color: #62519D;
      font-size: 19.23px;
      font-weight: 600;
      line-height: 22.623px;
    }
    .product-grid-item .block-subtitle{
      color: #1E062C;
      font-size: 10px;
      font-weight: 400;
      line-height: 13.574px;
      margin-bottom: 8px;
    }
    .product-grid-item .product-image{
      height: 140px;
      object-fit: contain;
    }
    .product-column-section .section-heading {
      color: #1E062C;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
    }
    .product-column-section .product-cta-btn{
      margin-top: 5px;
    }
    .product-column-section .block-payment-icon{
      height: 30px;
    }
  }

  @media (max-width: 1000px) {
    #{{ section.id }} .page-width{
      padding: 48px 20px;
    }
    #{{ section.id }} .product-grid-container{
      grid-template-columns: 1fr;
    }
    .product-grid-item{
      flex-direction: row;
      padding: 10px;
    }
    .product-grid-item:nth-child(2){
      grid-row-start: 1;
      padding: 10px;
    }
    .product-grid-item .product-info, .product-grid-item .product-content{
      flex-basis: 50%;
    }
    #{{ section.id }} .product-grid-container{
      margin-top: 30px;
    }
  }
</style>

{% schema %}
{
  "name": "Bulk Product Column",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Limited Stock Available - Get Your Klova Sleep Patch Now!"
    },
    {
      "type": "color_background",
      "id": "accent_color",
      "label": "Color Accent",
      "default": "#62519D"
    },
    {
      "type": "html",
      "id": "custom_html",
      "label": "Custom Html",
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "1x Pack"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "30 Day Supply"
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Image"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        },
        {
          "type": "text",
          "id": "price",
          "label": "price",
          "default": "$34"
        },
        {
          "type": "text",
          "id": "btn_content",
          "label": "Button Content",
          "default": "Buy Now"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "total_price",
          "label": "Total Price",
          "default": "Total $34"
        },
        {
          "type": "image_picker",
          "id": "payment_method",
          "label": "Payment Methods"
        },
        {
          "type": "text",
          "id": "footer_text",
          "label": "Footer Text",
          "default": "*Free Shipping"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bulk Product Column"
    }
  ]
}
{% endschema %}
