<div class="o-container contact-spc-data">
  <div class="br-radius-24 flex contact contact-data">
    <div class="contact__info info">
      <h1 class="contact__title" >{{ section.settings.contact_title }}</h1>
      <div class="contact__links links">
        <div class="links__title">
          {{ section.settings.links_title }}
        </div>
        <ul class="links__items">
          {%- for block in section.blocks -%}
            <li class="links__item">{{ block.settings.links_item }}</li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="info__policy">
        {{ section.settings.policy_link }}
      </div>
    </div>
    <div class="contact__form">
      {%- assign form_id = 'contact-' | append: section.id -%}
        {%- form 'contact', id: form_id, class: "form" -%}
  
          {%- if form.posted_successfully? -%}
            <p class="note note--success">
              {{ 'contact.form.post_success' | t }}
            </p>
          {%- endif -%}
  
          {{ form.errors | default_errors }}
          <div class="form__item">
            <input type="text" id="ContactFormName-{{ section.id }}" class="input-full" name="contact[name]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder=" ">
            <label for="ContactFormName-{{ section.id }}">{{ section.settings.name_label }}</label>
          </div>
  
          <div class="form__item">
            <input type="email" id="ContactFormEmail-{{ section.id }}" class="input-full" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" placeholder=" ">
            <label for="ContactFormEmail-{{ section.id }}">{{ section.settings.email_label }}</label>
          </div>
  
          <div class="form__item">
            <textarea class="form__textarea" rows="1" id="ContactFormMessage-{{ section.id }}" class="input-full" name="contact[body]" placeholder=" ">{% if form.body %}{{ form.body }}{% endif %}</textarea>
            <label for="ContactFormMessage-{{ section.id }}">{{ section.settings.question_label }}</label>
          </div>
  
          <div class="form__button">
            <button type="submit" class="c-button -primary -large">
              {{ section.settings.form_button }}
            </button>
          </div>
  
        {%- endform -%}
    </div>
  </div>
</div>

{% javascript %}
const textarea = document.querySelector('.form__textarea');
textarea.addEventListener('input', autoResize, false);
function autoResize() {
  this.style.height = 'auto';
  this.style.height = this.scrollHeight + 'px';
}
{% endjavascript %}

{% schema %}
  {
    "name": "Contact form",
    "settings": [
      {
        "id": "contact_title",
        "type": "text",
        "label": "Page title",
        "default": "Contact Us"
      },
      {
        "id": "links_title",
        "type": "richtext",
        "label": "Links title",
        "default": "<p>You are welcome to ask questions</p>"
      },
      {
        "id": "policy_link",
        "type": "richtext",
        "label": "Policy question"
      },
      {
        "type": "header",
        "content": "Form"
      },
      {
        "id": "name_label",
        "type": "text",
        "label": "Name input label"
      },
      {
        "id": "email_label",
        "type": "text",
        "label": "Email input label"
      },
      {
        "id": "question_label",
        "type": "text",
        "label": "Question label"
      },
      {
        "id": "form_button",
        "type": "text",
        "label": "Button",
        "default": "Submit your question"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Links",
        "settings": [
          {
            "type": "richtext",
            "id": "links_item",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Contact form"
    }]
  }
{% endschema %}
