
  
  
      <style>
        @font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-482666433537377298 .-gp-translate-x-1\/2,.gps-482666433537377298 .-gp-translate-y-1\/2,.gps-482666433537377298 .gp-rotate-0,.gps-482666433537377298 .gp-rotate-180,.gps-482666433537377298 .mobile\:gp-rotate-0,.gps-482666433537377298 .mobile\:gp-rotate-180,.gps-482666433537377298 .tablet\:gp-rotate-0,.gps-482666433537377298 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-482666433537377298 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-482666433537377298 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-482666433537377298 .gp-visible{visibility:visible}.gps-482666433537377298 .gp-invisible{visibility:hidden}.gps-482666433537377298 .gp-absolute{position:absolute}.gps-482666433537377298 .gp-relative{position:relative}.gps-482666433537377298 .gp-left-1\/2{left:50%}.gps-482666433537377298 .gp-top-1\/2{top:50%}.gps-482666433537377298 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-482666433537377298 .gp-my-0{margin-bottom:0;margin-top:0}.gps-482666433537377298 .gp-mb-0{margin-bottom:0}.gps-482666433537377298 .gp-block{display:block}.gps-482666433537377298 .gp-flex{display:flex}.gps-482666433537377298 .gp-inline-flex{display:inline-flex}.gps-482666433537377298 .gp-grid{display:grid}.gps-482666433537377298 .gp-hidden{display:none}.gps-482666433537377298 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-482666433537377298 .gp-aspect-square{aspect-ratio:1/1}.gps-482666433537377298 .gp-h-full{height:100%}.gps-482666433537377298 .\!gp-min-h-full{min-height:100%!important}.gps-482666433537377298 .gp-w-\[12px\]{width:12px}.gps-482666433537377298 .gp-w-\[20px\]{width:20px}.gps-482666433537377298 .gp-w-\[56px\]{width:56px}.gps-482666433537377298 .gp-w-full{width:100%}.gps-482666433537377298 .\!gp-max-w-none{max-width:none!important}.gps-482666433537377298 .gp-max-w-full{max-width:100%}.gps-482666433537377298 .gp-flex-none{flex:none}.gps-482666433537377298 .gp-shrink-0{flex-shrink:0}.gps-482666433537377298 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-482666433537377298 .-gp-translate-x-1\/2,.gps-482666433537377298 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-482666433537377298 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-482666433537377298 .gp-rotate-0{--tw-rotate:0deg}.gps-482666433537377298 .gp-rotate-0,.gps-482666433537377298 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-482666433537377298 .gp-rotate-180{--tw-rotate:180deg}.gps-482666433537377298 .gp-cursor-pointer{cursor:pointer}.gps-482666433537377298 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-482666433537377298 .\!gp-flex-row{flex-direction:row!important}.gps-482666433537377298 .gp-flex-row{flex-direction:row}.gps-482666433537377298 .gp-flex-col{flex-direction:column}.gps-482666433537377298 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-482666433537377298 .gp-items-center{align-items:center}.gps-482666433537377298 .gp-justify-start{justify-content:flex-start}.gps-482666433537377298 .gp-justify-center{justify-content:center}.gps-482666433537377298 .gp-justify-between{justify-content:space-between}.gps-482666433537377298 .gp-gap-2{gap:8px}.gps-482666433537377298 .gp-gap-y-0{row-gap:0}.gps-482666433537377298 .gp-overflow-hidden{overflow:hidden}.gps-482666433537377298 .gp-rounded{border-radius:4px}.gps-482666433537377298 .gp-rounded-full{border-radius:9999px}.gps-482666433537377298 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-482666433537377298 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-482666433537377298 .gp-bg-cover{background-size:cover}.gps-482666433537377298 .gp-bg-center{background-position:50%}.gps-482666433537377298 .gp-text-center{text-align:center}.gps-482666433537377298 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-482666433537377298 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-482666433537377298 .gp-opacity-100{opacity:1}.gps-482666433537377298 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-482666433537377298 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-482666433537377298 .gp-duration-200{transition-duration:.2s}.gps-482666433537377298 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-482666433537377298 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}@media (max-width:1023px){.gps-482666433537377298 .tablet\:gp-block{display:block}.gps-482666433537377298 .tablet\:gp-hidden{display:none}.gps-482666433537377298 .tablet\:\!gp-aspect-video{aspect-ratio:16/9!important}.gps-482666433537377298 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-482666433537377298 .tablet\:gp-w-full{width:100%}.gps-482666433537377298 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-482666433537377298 .tablet\:gp-rotate-0,.gps-482666433537377298 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-482666433537377298 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-482666433537377298 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-482666433537377298 .tablet\:gp-flex-row{flex-direction:row}.gps-482666433537377298 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-482666433537377298 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-482666433537377298 .mobile\:gp-block{display:block}.gps-482666433537377298 .mobile\:gp-hidden{display:none}.gps-482666433537377298 .mobile\:\!gp-aspect-video{aspect-ratio:16/9!important}.gps-482666433537377298 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-482666433537377298 .mobile\:gp-w-full{width:100%}.gps-482666433537377298 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-482666433537377298 .mobile\:gp-rotate-0,.gps-482666433537377298 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-482666433537377298 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-482666433537377298 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-482666433537377298 .mobile\:gp-flex-row{flex-direction:row}.gps-482666433537377298 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-482666433537377298 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-482666433537377298 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-482666433537377298 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-482666433537377298 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-482666433537377298 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1023px){.gps-482666433537377298 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-482666433537377298 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-482666433537377298 .\[\&_p\]\:gp-inline p{display:inline}.gps-482666433537377298 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-482666433537377298 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:0px;--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:0px;--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gzl11BOE8N"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-2xl);--pb-mobile:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzl11BOE8N gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjMI94HCNd gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g9iowFuKR6"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9iowFuKR6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqGOdTOV9p gp-relative gp-flex gp-flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <gp-carousel  id="gp-root-carousel-gL7upCACAQ-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"gL7upCACAQ-{{section.id}}","setting":{"arrow":{"desktop":true},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2","Slide 3"],"controlOverContent":{"desktop":true},"dot":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"#6863AB"},"enableDrag":false,"loop":{"desktop":false},"pauseOnHover":true,"slidesToShow":{"desktop":3,"mobile":1,"tablet":2},"vertical":{"desktop":false}},"styles":{"adaptiveHeight":{"desktop":true,"mobile":true},"fullWidth":{"desktop":false,"mobile":false,"tablet":false},"height":{"desktop":"400px"},"spacing":{"desktop":16},"width":{"mobile":"80%"}},"isHiddenArrowWhenDisabled":true}' style="">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block gL7upCACAQ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pos:static;--radius:var(--g-radius-none);--mb:2px;--mb-mobile:30px;--w:auto;--w-tablet:auto;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:100%;--h-tablet:100%;--h-mobile:100%;gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-carousel-action-back gem-slider-previous gL7upCACAQ-{{section.id}} gp-carousel-arrow-gL7upCACAQ gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500"
      style="--left:initial;--top:initial;--right:initial;--bottom:;--left-tablet:initial;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:initial;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:none;--d-tablet:none;--d-mobile:none;background-color:"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--w:undefinedpx;--w-tablet:undefinedpx;--w-mobile:undefinedpx;--h:undefinedpx;--h-tablet:undefinedpx;--h-mobile:undefinedpx"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </div>
      <style>
    .gp-carousel-arrow-gL7upCACAQ {
      
    }
    .gp-carousel-arrow-gL7upCACAQ::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      
      
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-gL7upCACAQ {
        
      }
      .gp-carousel-arrow-gL7upCACAQ::before {
        
        
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gL7upCACAQ {
        
      }
      .gp-carousel-arrow-gL7upCACAQ::before {
        
        
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-gL7upCACAQ-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:16px;--cg-tablet:16px;--cg:16px">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 3 - 10.666666666666666px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 3 - 10.666666666666666px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gNucgljRl9"
    >
      
    <div
      
      class="!gp-max-w-none gp-bg-black [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gRwaIY9s8-"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--aspect:9/16"
    >
      
    <gp-lite-vimeo-embed gp-data='{"id":"560840637","lazy":true,"iframeSrc":"https://player.vimeo.com/video/560840637?&autoplay=false&muted=false&loop=false&controls=true","title":"Video","style":{"--aspect":"9/16"}}'>
      <link rel="preconnect" href="https://player.vimeo.com" />
      <link rel="preconnect" href="https://i.vimeocdn.com" />
      <link rel="preconnect" href="https://f.vimeocdn.com" />
      <link rel="preconnect" href="https://fresnel.vimeocdn.com" />
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-vimeo-embed-article tablet:!gp-aspect-video mobile:!gp-aspect-video"
        data-title="Video"
        style="--aspect:9/16"
      >
        <img src="" alt="Poster" class="gp-invisible gp-h-full gp-w-full" />
        <button
          type="button"
          class="gp-absolute gp-top-1/2 gp-left-1/2 gp-flex gp-aspect-[56/32] gp-w-[56px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800] gp-lite-vimeo-embed-button gp-visible gp-opacity-100"
          aria-label="Play"
        >
          <svg class="gp-w-[20px] gp-text-white" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
            />
          </svg>
        </button>
        
      </article>
    </gp-lite-vimeo-embed>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-vimeo-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 3 - 10.666666666666666px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 3 - 10.666666666666666px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gbkX_A9For"
    >
      
    <div
      
      class="!gp-max-w-none gp-bg-black [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gcHQM0mcTJ"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--aspect:9/16"
    >
      
    <gp-lite-vimeo-embed gp-data='{"id":"560842790","lazy":true,"iframeSrc":"https://player.vimeo.com/video/560842790?&autoplay=false&muted=true&loop=false&controls=true","title":"Video","style":{"--aspect":"9/16"}}'>
      <link rel="preconnect" href="https://player.vimeo.com" />
      <link rel="preconnect" href="https://i.vimeocdn.com" />
      <link rel="preconnect" href="https://f.vimeocdn.com" />
      <link rel="preconnect" href="https://fresnel.vimeocdn.com" />
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-vimeo-embed-article tablet:!gp-aspect-video mobile:!gp-aspect-video"
        data-title="Video"
        style="--aspect:9/16"
      >
        <img src="" alt="Poster" class="gp-invisible gp-h-full gp-w-full" />
        <button
          type="button"
          class="gp-absolute gp-top-1/2 gp-left-1/2 gp-flex gp-aspect-[56/32] gp-w-[56px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800] gp-lite-vimeo-embed-button gp-visible gp-opacity-100"
          aria-label="Play"
        >
          <svg class="gp-w-[20px] gp-text-white" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
            />
          </svg>
        </button>
        
      </article>
    </gp-lite-vimeo-embed>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-vimeo-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 3 - 10.666666666666666px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 3 - 10.666666666666666px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gFCBJDsGjp"
    >
      
    <div
      
      class="!gp-max-w-none gp-bg-black [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] ggnMea60sM"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--aspect:9/16"
    >
      
    <gp-lite-vimeo-embed gp-data='{"id":"560861088","lazy":true,"iframeSrc":"https://player.vimeo.com/video/560861088?&autoplay=false&muted=true&loop=false&controls=true","title":"Video","style":{"--aspect":"9/16"}}'>
      <link rel="preconnect" href="https://player.vimeo.com" />
      <link rel="preconnect" href="https://i.vimeocdn.com" />
      <link rel="preconnect" href="https://f.vimeocdn.com" />
      <link rel="preconnect" href="https://fresnel.vimeocdn.com" />
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-vimeo-embed-article tablet:!gp-aspect-video mobile:!gp-aspect-video"
        data-title="Video"
        style="--aspect:9/16"
      >
        <img src="" alt="Poster" class="gp-invisible gp-h-full gp-w-full" />
        <button
          type="button"
          class="gp-absolute gp-top-1/2 gp-left-1/2 gp-flex gp-aspect-[56/32] gp-w-[56px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800] gp-lite-vimeo-embed-button gp-visible gp-opacity-100"
          aria-label="Play"
        >
          <svg class="gp-w-[20px] gp-text-white" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
            />
          </svg>
        </button>
        
      </article>
    </gp-lite-vimeo-embed>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-vimeo-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-carousel-action-next gem-slider-next gL7upCACAQ-{{section.id}} gp-carousel-arrow-gL7upCACAQ gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500"
      style="--left:initial;--top:;--right:initial;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:initial;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:initial;--bottom-mobile:initial;--d:none;--d-tablet:none;--d-mobile:none;background-color:"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--w:undefinedpx;--w-tablet:undefinedpx;--w-mobile:undefinedpx;--h:undefinedpx;--h-tablet:undefinedpx;--h-mobile:undefinedpx"
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </div>
      <style>
    .gp-carousel-arrow-gL7upCACAQ {
      
    }
    .gp-carousel-arrow-gL7upCACAQ::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      
      
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .gp-carousel-arrow-gL7upCACAQ {
        
      }
      .gp-carousel-arrow-gL7upCACAQ::before {
        
        
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gL7upCACAQ {
        
      }
      .gp-carousel-arrow-gL7upCACAQ::before {
        
        
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-gL7upCACAQ-{{section.id}} gp-flex-row gp-w-full tablet:gp-flex-row tablet:gp-w-full mobile:gp-flex-row mobile:gp-w-full"
    style="--bottom:0px;--bottom-tablet:0px;--bottom-mobile:0px;--d:flex;--d-tablet:flex;--d-mobile:flex"
 ></div>
      </div>
    </gp-carousel>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbmpJcJ70e gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gcxZn59lUI "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Poppins, 'Poppins');--weight:600;--lh:130%;--size:46px;--size-tablet:46px;--size-mobile:32px;--c:var(--g-c-text-2, text-2);word-break:break-word;overflow:hidden"
        ><p>07. *Bonus Reason* The Reviews Are Great.</p></h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gVTnyX1xLq "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:16px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>When it comes to online reviews, it's hard to know who to trust. We retain a platinum rating for transparency with Judge.me across all of our products. But don't take our word for it, hear it from former insomniacs who are sleeping better than ever with Klova Sleep Patches!&nbsp;</p></div>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:16px;--pb:16px" class="gbu3FtmVwR ">
      
    <div
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:var(--g-c-line-2, line-2)"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-482666433537377298 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/klova/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=482550033917412398&sectionId=482666433537377298)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
