{% assign columnLength = section.blocks | size %}
<section id="{{ section.id }}">
  <div class="page-width">
    <div class="sales-point-container">
      <div class="sales-point-grid grid-{{ section.blocks | size }}">
        {% for block in section.blocks %}
          <div class="sales-point-item" {{ block.shopify_attributes }}>
            {% if block.settings.image !=blank  %}
            <img src="{{ block.settings.image | image_url }}" alt="sales point icon" height="48" width="48">
            {% else %}
            <div class="sales-img">{{ block.settings.svgImg }}</div>  
            {% endif %}
            <div class="sales-point-text">
              {{ block.settings.text }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<style>
  #{{section.id}} .page-width{
    padding: 0;
  }
  #{{ section.id }} .sales-point-grid {
      display: flex;
      grid-template-columns: repeat(5, 1fr);
      margin: 0;
      padding: 40px 80px;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 35px;
  }
  #{{ section.id }} .sales-point-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center;
    gap: 10px; */
  }
  #{{ section.id }} .sales-point-text{
    color: #1E062C;
    font-family: "Bergen Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px; /* 100% */
  }

  @media (max-width: 600px){
    #{{ section.id }} .sales-point-grid{
      padding: 20px;
      gap: 0px;
      justify-content: flex-start;
    }
     #{{ section.id }} .sales-point-item{
      width: 50%;
      max-width: 50%;
      padding-bottom: 20px;
      padding-top: 20px;
      padding-right: 15px;
      gap:10px;
    }
  }
</style>
{% schema %}
{
  "name": "Sales Point [Image+Text]",
  "settings": [],
  "blocks": [
    {
      "type": "sales-point",
      "name": "Sales Point",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type":"html",
            "id":"svgImg",
          "label":"For svg image"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Sales Point Text</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sales Point [Image+Text]"
    }
  ]
}
{% endschema %}
