<section class="znite_img_text">
  <div class="br-radius-24">
    <div class="empower__patch znite_flex_content flex patch"> 
     {% capture image_layout  %} 
      <div class="patch__image znite_key_image">
        <img
          src="{{ section.settings.empower_image | img_url: 'master' }}"
          alt="{{ section.settings.empower_image.alt | default: "patches" }}"
        >
      </div>
      {% endcapture %}

      {% if section.settings.layout == 'left' %}
          {{ image_layout }}
      {% endif %}
      
      <div class="patch__text text text_content_details">
        <h2 class="text__title">{{ section.settings.empower_title }}</h2>
        <div class="text__descr">
          {{ section.settings.empower_descr }}
        </div>
        <div class="patch__button znite_btn">
          <a class="c-button -primary -large" href="{{ section.settings.empower_button_link }}">
            {{ section.settings.empower_button }}
          </a>
        </div>
      </div>

    {% if section.settings.layout == 'right' %}
      {{ image_layout }}
    {% endif %}
      
    </div>
    <ul class="empower__achievements achievements flex">
      {%- for block in section.blocks -%}
        <li class="achievements__item">{{ block.settings.achievements_item }}</li>
      {%- endfor -%}
    </ul>
  </div>
</section>
<style>
  .znite_btn{
    max-width:338px;
  }
  .text_content_details{
    width:50%;
  }
  .znite_key_image{
    width:50%;
    text-align:end;
  }
  .znite_flex_content{
    display:flex;
    justify-content: space-between;
  }
  .znite_img_text .text__descr{
    padding-bottom:20px;
  }
  .znite_img_text{
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 20px;
    width: 100%;
  }
  @media only screen and (max-width:1034px){
    .znite_flex_content{
      flex-wrap: wrap; 
    }
    .znite_flex_content  .text_content_details{
      order:2;
      width:100%;
    }
    .znite_flex_content .znite_key_image{
     order:1;
      width:100%;
    }
    .znite_flex_content .znite_key_image img{
      width:100%;
    }
    .znite_flex_content .znite_btn{
      max-width:100%; 
    }
    .text_content_details h2{
      margin-top:20px;
    }
  }
</style>

{% schema %}
  {
    "name": "Znite_img_with_text",
    "max_blocks": 4,
    "settings": [
      {
        "id": "empower_image",
        "type": "image_picker",
        "label": "Empower image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "id": "empower_title",
        "type": "text",
        "label": "Empower title",
        "default": "Empower Your Best Self, with Klova ;)"
      },
      {
        "id": "empower_descr",
        "type": "richtext",
        "label": "Empower description",
        "default": "<p>We’re Empowering Happy & Healthy Lifestyles with Natural Products, Technology and Education. Sleep Your Best & Wakeup Refreshed, with Klova.</p>"
      },
      {
        "id": "empower_button",
        "type": "text",
        "label": "Empower button",
        "default": "Patch me!"
      },
      {
        "id": "empower_button_link",
        "type": "url",
        "label": "Button link"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Achievements",
        "settings": [
          {
            "type": "richtext",
            "id": "achievements_item",
            "label": "Achievement"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Znite_img_with_text"
      }
    ]
  }
{% endschema %}