{{ 'jquery-3.6.0.min.js' | asset_url | script_tag }}
{{ 'slick.js' | asset_url | script_tag }}
{{ 'jquery.marquee.js' | asset_url | script_tag }}
{{ 'bookmarkscroll.js' | asset_url | script_tag }}
<link rel="shortcut icon" type="image/x-icon" href="https://cdn.shopify.com/s/files/1/2065/0707/files/favicon.png">
<title>Klova</title>
<link href="{{ 'style-1.css' | asset_url }}" rel="stylesheet" media="print" onload="this.media='all'">
<link href="{{ 'common-1.css' | asset_url }}" rel="stylesheet" media="print" onload="this.media='all'">
<link href="{{ 'slick-theme-1.css' | asset_url }}" rel="stylesheet" media="print" onload="this.media='all'">
<link href="{{ 'slick-1.css' | asset_url }}" rel="stylesheet" media="print" onload="this.media='all'">  
<link href="{{ 'modal-1.css' | asset_url }}" rel="stylesheet" media="print" onload="this.media='all'">   
<script type="text/javascript">
function getDate(days) {      
	var monthNames = new Array("January","February","March","April","May","June","July","August","September","October","November","December");
	var dayNames = new Array("Sun","Mon","Tue","Wed","Thur","Fri","Sat");    
	var now = new Date();   
	now.setDate(now.getDate() + days);   
	var nowString =  monthNames[now.getMonth()] + " " +  now.getDate() + ", " + now.getFullYear();   
	document.write(nowString); 
	}
</script>


<div id="pop_overlay">
	  <div id="pop_content">            
         <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/close-btn.png" alt="" class="close">
         <p class="pophding">EACH PACK CONTAINS 28 PATCHES. FOR BEST RESULTS USE 1 PATCH NIGHTLY. APPLY TO A CLEAN, 
         HAIR-FREE AREA WITH GOOD BLOOD FLOW (TOP OF FOOT/ WRIST/ SHOULDER) ABOUT AN HOUR BEFORE BED. 
         DISCARD IN THE&nbsp;MORNING.</p>

        <p class="pop-subhding">EACH PATCH CONTAINS:</p>
        
        <p class="pop-subhding2">Hop Flower Powder (5mg)</p>
        
        <p class="pop-txt">Hops are known for their calming effects, which can help ease tension, relax the mind, and promote a more restful sleep.</p>
        
        <p class="pop-subhding2">Valerian Root Powder (5mg)</p>
        
        <p class="pop-txt">Valerian root can reduce the time it takes to fall asleep and improve sleep quality with its natural, soothing properties.</p>
        
        <p class="pop-subhding2">Sensoril® Ashwagandha Extract (4.5mg)</p>
        
        <p class="pop-txt">Sensoril Ashwagandha is a clinically proven adaptogen shown to reduce stress, thus fostering a more restful environment as you transition to sleep.</p>
        
        <p class="pop-subhding2">L-Theanine (4mg)</p>
        
        <p class="pop-txt">This naturally occurring amino acid enhances sleep quality and can help manage stress levels by promoting an enhanced state of&nbsp;calm.</p>
        
        <p class="pop-subhding2">Melatonin (3mg)</p>
        
        <p class="pop-txt">Melatonin is key in regulating your body's sleep-wake cycle, assisting you in falling asleep and maintaining a deep, 
        uninterrupted sleep throughout the night.</p>
        
        <p class="pop-subhding2">GABA (2mg)</p>
        
        <p class="pop-txt">GABA is a neurotransmitter that calms the nervous system, reducing feelings of anxiety and stress, facilitating a deeper, more restful&nbsp;sleep.</p>
        
        
        <p class="pop-subhding2">Lavender Oil (1mg)</p>
        
        <p class="pop-txt">With its calming and soothing properties, lavender oil can help relax your mind and body, encouraging a better, deeper sleep.</p>
        
        <p class="pop-subhding2">Passion Flower Extract (0.5mg)</p>
        
        <p class="pop-txt">Passion flower extract has the ability to increase GABA levels in your brain, which promotes a state of relaxation and improves sleep quality.</p>
        
        <p class="pop-subhding2">White Willow Bark Extract (0.5mg)</p>
        
        <p class="pop-txt">Rich in salicin, it can help fight skin sensitivity and help keep the skin under the patch hydrated and healthy.</p>
        
        <p class="pop-subhding2">Aloe Vera Leaf Gel Extract (0.5mg)</p>
        
        <p class="pop-txt">Known for its antioxidant and anti-inflammatory properties, it can support a more restful sleep environment 
        by aiding in keeping the skin under the patch moisturized and irritant free.</p>
        
      </div>
</div> 
<!----------------------------------->
<div id="pop_overlay2">
	  <div id="pop_content">            
         <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/close-btn.png" alt="" class="close">
         <p class="pop2-hding">CONCLUSIONS</p>
        <p class="pop2-txt">As can be seen from the summary data (Table 1) the product performed highly
        favourably over the 2-week trial period in all attributes under Clearcast guidelines
        of advertising (>80% favourability). Individual responses are recorded in Appendix 3:</p>
        
        
        <p class="pop2-txt2">
        96% of subjects said that the patch helped improve their quality of sleep<br >
        92% of subjects said that they had a more restful night’s sleep while using the patch.</p>
        
        <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/pop2-img1.png" alt="" class="pop2-img">
        <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/pop2-img2.png" alt="" class="pop2-img">
        
        <p class="pop2-txt3"><i>PCR CORP REPORT NO: KLOUSE1M 18th&nbsp;August&nbsp;2017</i></p>
        
      </div>
</div>
<!----------------------------------->
<div class="ovrfl">
    <div class="top-strip flt">
        <div class="container position">
            <p class="top-strip-txt"><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/lft-cloud.png" alt="" class="lft-cloud"> Natural Self-Care Hack for Deeper, More&nbsp;Restorative&nbsp;Sleep 
            <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/rgt-cloud.png" alt="" class="rgt-cloud"></p>
        </div>
    </div>
    <div class="header flt">
        <div class="container  position">
            <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/logo_d6911950-d3e8-4b14-be4a-4e84410b27da.png?v=1693644929" alt="" class="logo">
            <p class="discount"><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/stopwatch.png" alt=""> DISCOUNT RESERVED <br class="show-767">FOR <span id="stopwatch"></span> MINUTES</p>
            <a href="#pkg" class="hdrbtn">Order Now</a>
        </div>
    </div>
    <div class="gray-strip flt hide-767">
        <div class="container">
            <ul class="graystrip-list">
                <li><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/gstrip-icon1.png" alt=""> Developed By Physicians</li>
                <li><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/gstrip-icon2.png" alt=""> Proudly Made In the U.S.A.</li>
                <li><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/gstrip-icon3.png" alt=""> 30 Day Money Back Guarantee </li>
            </ul>
        </div>
    </div>
    <div class="gray-strip flt show-767"> 
    	<ul id="news" class="news">
            <li><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/gstrip-icon1.png" alt=""> Developed By Physicians</li>
            <li><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/gstrip-icon2.png" alt=""> Proudly Made In the U.S.A. </li>
            <li><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/gstrip-icon3.png" alt=""> 30 Day Money Back Guarantee </li>
                
            <li><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/gstrip-icon1.png" alt=""> Developed By Physicians</li>
            <li><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/gstrip-icon2.png" alt=""> Proudly Made In the U.S.A. </li>
            <li><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/gstrip-icon3.png" alt=""> 30 Day Money Back Guarantee </li>   
        </ul> 
    </div>   
    <div class="sec1 flt">
        <div class="container">
        	<div id="choosekit">
                <p class="s1-hding">5 reasons why former insomniacs love this clinically proven sleep&nbsp;patch.</p>
                
                <p class="s1-para1">Featured on 'The Doctors', the <a href="#pkg">Klova Sleep Patch</a> delivers melatonin and natural ingredients 
                transdermally throughout the night, promoting restful & restorative sleep. Simply peel, stick and sleep your way to better mornings.</p>
                
                
                <div class="authorbx">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/pete.png" alt="">
                    <ul class="authorbx-list dsplay">
                        <li>Posted By<br><span>Pete Smitham</span></li>
                        
                        <li>Last Update <br> <span><script type="text/javascript">getDate(0);</script></span></li>
                        
                        <li>Reading Time <br><span>3 Minutes</span></li>
                    </ul>
                   
                </div>
                
                <div class="videoWrapper">    
                    <iframe src="https://player.vimeo.com/video/703421279?title=0&byline=0&portrait=0&muted=1&controls=0&loop=1&background=1&app_id=122963" width="100%" height="420" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>     
                </div>    
                    
                <div class="feature-bx">
                    <p class="feature-bx-hding">Featured On</p>
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/logos.png" alt="" class="feature-bx-logos hide-767">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/logos-mob.png" alt="" class="feature-bx-logos show-767">
                </div>   
            </div>
           
            
            <p class="s1-subhding1">Why Klova sleep patch users love it, and what you can expect:</p>    
                
            <div class="s1bx1">
                <div class="s1bx1-lft">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/s1-img1.gif" alt="" class="s1bximg">
                </div>
                <div class="s1bx1-rgt">
                    <p class="s1bx-para1"><span class="span1">1.</span>They stay asleep all night, no more tossing & turning.</p>
                    
                    <p class="s1bx-para2">The gradual & continuous ingredient release in Klova can help you stay asleep though the night and wake up less frequently.</p>
                    
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/s1-img1.gif" alt="" class="s1bximg-mob1 show-767">
                    
                    <div class="s1bx-bdrbx">                    
                        <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/stars.png" alt="" class="stars">
                        
                        <p class="s1bx-para2">"These are amazing, I've slept all night which is something that I hardly did. Thank you!!"</p>
                        <p class="s1bx-para3"><span>~ Patricia</span>  <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/tick.png" alt=""> Verified Review</p>
                    </div>  
                </div>
            </div> 
            
            <div class="s1bdr"></div>
            
            <div class="s1bx2">
                <div class="s1bx1-lft">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/s1-img2.jpg" alt="" class="s1bximg">
                </div>
                <div class="s1bx1-rgt">
                    <p class="s1bx-para1"><span class="span2">2.</span>They fall asleep easier.</p>
                        
                    <p class="s1bx-para2">In a recent sleep study, 92% of participants said they fell asleep easier when using Klova, 
                    and 98% felt less tired on mornings after using.</p>
                    
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/s1-img2.jpg" alt="" class="s1bximg-mob show-767">
                    
                    <div class="s1bx-bdrbx">                    
                        <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/stars.png" alt="" class="stars">
                        
                        <p class="s1bx-para2">"I’ve taken Ambien for over 20 years and I’m now a believer in Klova. 
                        About to place another order. I fall asleep fast, no longer need a RX drug and wake up refreshed 
                        without any drowsiness. Thank you!!!"</p>
                        <p class="s1bx-para3"><span>~ Melissa</span>  <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/tick.png" alt=""> Verified Review</p>   
                    </div>  
                </div>
            </div> 
            
            <div class="s1bdr"></div>
            
            <div class="s1bx2">
                <div class="s1bx1-lft">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/s1-img3.jpg" alt="" class="s1bximg">
                </div>
                <div class="s1bx1-rgt">
                    <p class="s1bx-para1 s1bx-para1-mar"><span class="span2">3.</span>They have more energy.</p>
                        
                    <p class="s1bx-para2">96% of sleep study participants reported more daytime wakefulness and 
                    energy after using the Klova sleep patch.</p>
                    
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/s1-img3.jpg" alt="" class="s1bximg-mob show-767">
                    
                    <div class="s1bx-bdrbx">                    
                        <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/stars.png" alt="" class="stars">
                        
                        <p class="s1bx-para2">"I have been taking sleeping pills for years and always felt tired With the 
                        Z patch I dont feel tired when I get up and I seem to have more energy."</p>
                        <p class="s1bx-para3"><span>~ Rosemary</span>  <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/tick.png" alt=""> Verified Review</p> 
                    </div>  
                </div>
            </div> 
            
            <div class="s1bdr"></div>
            
            <div class="s1bx2">
                <div class="s1bx1-lft">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/s1-img4.jpg" alt="" class="s1bximg">
                </div>
                <div class="s1bx1-rgt">
                    <p class="s1bx-para1 s1bx-para1-mar2"><span class="span2">4.</span>They get more restful sleep.</p>
                        
                        <p class="s1bx-para2">In a recent sleep study, 92% of participants said they fell asleep easier when using Klova, 
                        and 98% felt less tired on mornings after using.</p>
                        
                        <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/s1-img4.jpg" alt="" class="s1bximg-mob show-767">
                    
                    <div class="s1bx-bdrbx">                    
                        <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/stars.png" alt="" class="stars">
                        
                        <p class="s1bx-para2">"I had been in a prescription sleep med that just quit working, even after 
                        doubling it up. The sleep patch eases me into a nice, restful sleep."</p>
                        <p class="s1bx-para3"><span>~ Eugene</span>  <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/tick.png" alt=""> Verified Review</p>   
                    </div>  
                </div>
            </div> 
            
            <div class="s1bdr"></div>
            
            <div class="s1bx2">
                <div class="s1bx1-lft">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/s1-img5.jpg" alt="" class="s1bximg">
                </div>
                <div class="s1bx1-rgt">
                    <p class="s1bx-para1"><span class="span2">5.</span>Klova sleep patches are guaranteed to work. or your money back.</p>
                        
                    <p class="s1bx-para2">It's really that simple. If Klova sleep patches don't help you get your best sleep ever, 
                    contact customer service for a refund. We doubt you'll need it as Klova works for over 98% of problem sleepers.</p>
                    
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/s1-img5.jpg" alt="" class="s1bximg-mob show-767">
                    
                    <div class="s1bx-bdrbx">                    
                        <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/stars.png" alt="" class="stars">
                        
                        <p class="s1bx-para2">"I have been taking Ambien for 5 plus years and this is the first product 
                        I can truly say works and keeps me asleep through the night."</p>
                        <p class="s1bx-para3"><span>~ Deanna</span>  <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/tick.png" alt=""> Verified Review</p>  
                    </div>  
                </div>
            </div>     
            
        </div>
        
    </div>
    
    <div class="strip3 flt"> 
        <ul id="news2" class="news2">
            <li>30 Day Money-Back Guarantee</li>
            <li>Physician Approved Formulations</li>
            <li>Natural Ingredients</li>
            
            <li>30 Day Money-Back Guarantee</li>
            <li>Physician Approved Formulations</li>
            <li>Natural Ingredients</li>
            
            <li>30 Day Money-Back Guarantee</li>
            <li>Physician Approved Formulations</li>
            <li>Natural Ingredients</li>
            
            <li>30 Day Money-Back Guarantee</li>
            <li>Physician Approved Formulations</li>
            <li>Natural Ingredients</li>
            
        </ul> 
    </div>   
    
    <div class="sec1-btm flt">
        <div class="container">            
            <p class="s1-btmhding">Still Skeptical?<br>
            “There Is NO WAY This&nbsp;Works”</p>
            <p class="s1-para2">Actually, independent studies on transdermal melatonin patch effectiveness conducted by 
            the NIH show they can work better than melatonin pills and capsules.</p>
            
            <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/nih-img.png" alt="" class="nih-img hide-767">
            <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/nih-img-mob.png" alt="" class="nih-img show-767">            
            
            <p class="s1-btmhding2">Proven In A 14 Night Sleep&nbsp;Study</p>
            <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/s1btm-img.jpg" alt="" class="s1btm-img hide-767">
            
            <div class="percentbx1">               
                <div class="percent">98%</div>
                
                <div class="rating-bar1"></div>
                <p>98% felt less tired during the day after using.</p>
            </div>
            
            <div class="percentbx">                
                <div class="percent">94%</div>
                
                <div class="rating-bar2"></div>
                <p>94% woke up less often throughout the&nbsp;night.</p>
            </div>
            
            <div class="percentbx">                
                <div class="percent">92%</div>
                
                <div class="rating-bar3"></div>
                <p>92% report falling asleep easier.</p>
            </div>
            
            <p class="read-full" id="sleep-study">Read Full Sleep Study</p>
            
        </div>	
    </div>
    
    <div class="sec2 flt">
        <div class="container">
            <p class="s2-hding">How Klova Sleep Patches<br class="hide-767">
            Helps You Sleep In 1..2..3..</p>
            
            <ul class="s2list dsplay">
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/s2-img1.png" alt="">
                    <p class="s2l-hding">PEEL</p>
                    <p class="s2l-txt">Peel off one of the included 28 patches. Each patch should only be used once, and discarded in the&nbsp;morning.</p>
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/s2-img2.png" alt="">
                    <p class="s2l-hding">STICK</p>
                    <p class="s2l-txt">Stick the patch on a clean, hairless part of the body such as the top of the foot, 
                    and move around to ensure adequate blood flow to the&nbsp;patch.</p>
                </li>
                <li>
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/s2-img3.png" alt="">
                    <p class="s2l-hding">SLEEP</p>
                    <p class="s2l-txt">Melatonin and 10 other natural ingredients are absorbed through the night promoting deep, restorative&nbsp;sleep.</p>
                </li>
            </ul>
            
        </div>
    </div>
    <div class="sec3 flt" id="pkg">
        <div class="container">
        	<p class="s2-hding">Get Klova Sleep Patches<br class="hide-767"> 
                For Less Than $1&nbsp;Per&nbsp;Night</p>
            
            <div class="s3bx">                
                <div class="s3btm-lft">
                      <div class="slider">
                            <div>
                                <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr1.jpg" alt="" class="slide-img">					
                            </div>
                            <div>
                                <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr2.webp" alt="" class="slide-img">					
                            </div>
                            <div>
                                <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr3.jpg" alt="" class="slide-img">					
                            </div>
                            <div>
                                <img src="https://cdn.shopify.com/s/files/1/2065/0707/files//sldr4.jpg" alt="" class="slide-img">					
                            </div>
                            <div>
                                <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr5.jpg" alt="" class="slide-img">					
                            </div>
                            
                            <div>
                                <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr6.jpg" alt="" class="slide-img">					
                            </div>
                            <div>
                                <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr7.jpg" alt="" class="slide-img">					
                            </div>
                            <div>
                                <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr8.jpg" alt="" class="slide-img">					
                            </div>
                            <div>
                                <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr9.jpg" alt="" class="slide-img">					
                            </div>
                            <div>
                                <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr10.jpg" alt="" class="slide-img">					
                            </div>
                        </div>			
                        
                        <div class="slider-nav-thumbnails">
                            <div><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr1.jpg" alt=""></div>
                            <div><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr2.webp" alt=""></div>
                            <div><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr3.jpg" alt=""></div>
                            <div><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr4.jpg" alt=""></div>
                            <div><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr5.jpg" alt=""></div> 
                            <div><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr6.jpg" alt=""></div>
                            <div><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr7.jpg" alt=""></div>
                            <div><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr8.jpg" alt=""></div>
                            <div><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr9.jpg" alt=""></div>
                            <div><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/sldr10.jpg" alt=""></div>
                        </div>
                    </div>
                <div class="s3btm-rgt">
                	<p class="s3bx-txt1"><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/stars.png" alt=""> 1600+ Verified Reviews</p>
                    <p class="s3bx-hding">Klova Sleep Patch </p>
                    <p class="s3bx-txt2">28 PATCHES - USE ONE PATCH NIGHTLY, OR&nbsp;AS&nbsp;NEEDED</p>
                    <div class="s3bx-txt3">
                        <div class="btnTxt">
                            <p class="btnText1"><span>Sale</span> is live! Ends in 24H</p> |
                            <p class="btnText2"><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/hourglass.png" alt="shape" class="hourglass" width="14" height="14">Stock is Limited: <span>58</span></p>
                        </div>
                    </div>
                    <ul class="s3bx-list">
                        <li>Easy To Use & Non-Habit Forming</li>
                        <li>Fall Asleep Faster & Stay Asleep Longer </li>
                        <li>Wake Up Refreshed & Energized </li>
                        <li>Safe & Natural Ingredients: <p id="ing">See&nbsp;All</p></li>
                    </ul>
                    
                    <p class="s3bx-txt4">$28 <span class="strikeout">$39.99</span></p>
                    
                    <div class="button-box">
                        <ul class="btnbx-list dsplay">
                        	<li><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/ship-icon.png" alt=""> Free Shipping Over $50</li>
                            <li><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/cash-icon.png" alt=""> Money Back Guarantee</li>
                        </ul>
                        <a href="https://www.klova.com/cart/31632025256001:1" class="button">Try 28 Patches For $28</a>
                        <p class="cart-txt"><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/cart.png" alt=""> 21 People Have This In Their Cart Now</p>
                    </div>
                    
                </div>
                <div class="clearall"></div> 
            </div>
            
        </div>
    </div>
    <div class="sec4 flt">
        <div class="s4container">
            <p class="s2-hding">Rested Humans agree,<br class="hide-479"> 
            Klova&nbsp;works</p>
            
            <div class="testimonial">
                <div><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/t1.png" alt="" class="timg"></div>
                <div><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/t2.png" alt="" class="timg"></div>
                <div><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/t3.png" alt="" class="timg"></div> 
                <div><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/t4.png" alt="" class="timg"></div>
                <div><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/t5.png" alt="" class="timg"></div>
                <div><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/t6.png" alt="" class="timg"></div>    
                <div><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/t7.png" alt="" class="timg"></div>          
            </div>
            
            
            
        </div>
    </div>
    <div class="sec5 flt">
        <div class="poster-container">
            <p class="s5hding">Why 100,000+ People Trust&nbsp;Klova</p>
            
            <div class="s1-mid-row">
                <div class="s1-mid-col ugc1" data-vdo="https://player.vimeo.com/video/560842790">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/ugc-poster1.png" alt="" class="ugc-poster">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/ugc-play.png" alt="" class="ugc-play">
                </div>
                <div class="s1-mid-col ugc1" data-vdo="https://player.vimeo.com/video/560840637">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/ugc-poster2.png" alt="" class="ugc-poster">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/ugc-play.png" alt="" class="ugc-play">
                </div>
                <div class="s1-mid-col ugc1" data-vdo="https://streamable.com/e/jp7msv">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/ugc-poster3.png" alt="" class="ugc-poster">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/ugc-play.png" alt="" class="ugc-play">
                </div>
                <div class="s1-mid-col ugc1" data-vdo="https://streamable.com/e/5oikwo">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/ugc-poster4.png" alt="" class="ugc-poster">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/ugc-play.png" alt="" class="ugc-play">
                </div>
                <div class="s1-mid-col ugc1" data-vdo="https://streamable.com/e/w5r3fi">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/ugc-poster5.png" alt="" class="ugc-poster">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/ugc-play.png" alt="" class="ugc-play">
                </div>
                <div class="s1-mid-col ugc1" data-vdo="https://streamable.com/e/cql9eq">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/ugc-poster6.png" alt="" class="ugc-poster">
                    <img src="https://cdn.shopify.com/s/files/1/2065/0707/files/ugc-play.png" alt="" class="ugc-play">
                </div>
            </div>
        </div>
    </div>
    
    <div class="band flt">
    	<div class="container">
        	<p class="s2-hding white">Restful Sleep Awaits, See&nbsp;You&nbsp;in&nbsp;Bed! </p>
        	<div class="btnbx2">
                <ul class="btnbx-list dsplay btnbx-list2">
                    <li><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/ship-icon-white.png" alt=""> Free Shipping Over $50</li>
                    <li><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/cash-icon-white.png" alt=""> Money Back Guarantee</li>
                </ul>
                <a href="https://www.klova.com/cart/31632025256001:1" class="button">Try 28 Patches For $28</a>
                <p class="cart-txt"><img src="https://cdn.shopify.com/s/files/1/2065/0707/files/cart2.png" alt=""> 21 People Have This In Their Cart Now</p>
            </div>
        </div>
    </div>
    <div class="footer flt">
    	<div class="show-767">
            <div id="ctabtn-mob" style="position:relative;">
                <a href="https://www.klova.com/cart/31632025256001:1" class="common_btn">Try 28 Patches For $28</a>      
            </div>
        </div>
    	<div class="container">
        	<p class="ftrtxt">© Klova <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script></p>
            <p class="ftrtxt ftrmar1"><strong>Got a question?</strong> </p> 

            <p class="ftrtxt ftrmar1">Call our sleep gurus at 888-568-1688, <br class="show-400">M-F 9am-4pm PST.</p>
            <p class="ftrtxt"><a href="www.klova.com">www.klova.com</a></p>
            <p class="ftrtxt">@klovasleep on social media channels</p>
            <p class="ftrtxt">#klova #zpatch #restedhuman</p>
            <p class="ftrtxt"><a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a></p>
            <p class="ftrtxt"><u>Shipping, Returns & Refunds</u></p>
            
            <p class="ftrtxt ftrmar1">These statements have not been evaluated by the Food and Drug Administration. These products 
            are not intended to diagnose, treat, cure, or prevent any diseases. You should consult a licensed 
            health care professional before starting any supplement, dietary, or exercise program, especially 
            if you are pregnant or have any pre-existing injuries or medical conditions.</p>
        </div>
    </div>
    
    
    
    
</div>
<div class="ugc-modal">
	<div class="video-container" id="myVdo" style="display:none;">
    	<div class="ugc-close">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="100%" height="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M18.3 5.71a.996.996 0 0 0-1.41 0L12 10.59L7.11 5.7A.996.996 0 1 0 5.7 7.11L10.59 12L5.7 16.89a.996.996 0 1 0 1.41 1.41L12 13.41l4.89 4.89a.996.996 0 1 0 1.41-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"></path></svg>
        </div>
        
        <iframe src="about:blank" width="100%" height="100%" frameborder="0" allow="autoplay;" class="vid-frame"></iframe>
    </div>
</div>

<script src="{{ 'jquery-3.6.0.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slick.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'jquery.marquee.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'bookmarkscroll.js' | asset_url }}" defer="defer"></script>
<script type="text/javascript">
	$(document).ready(function(e) {	
		
		$('.slider').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			arrows: false,
			fade: false,
			asNavFor: '.slider-nav-thumbnails',	
		 });
		
		 $('.slider-nav-thumbnails').slick({
			slidesToShow: 5,
			slidesToScroll: 1,
			asNavFor: '.slider',
			dots: true,
			focusOnSelect: true
		 });
		
		 // Remove active class from all thumbnail slides
		 $('.slider-nav-thumbnails .slick-slide').removeClass('slick-active');
		
		 // Set active class to first thumbnail slides
		 $('.slider-nav-thumbnails .slick-slide').eq(0).addClass('slick-active');
		
		 // On before slide change match active thumbnail to current slide
		 $('.slider').on('beforeChange', function (event, slick, currentSlide, nextSlide) {
			var mySlideNumber = nextSlide;
			$('.slider-nav-thumbnails .slick-slide').removeClass('slick-active');
			$('.slider-nav-thumbnails .slick-slide').eq(mySlideNumber).addClass('slick-active');
		 });
		 
		 /*---------------------------*/
		 $('.testimonial').slick({
			dots: true,			
			autoplay: true,
			autoplaySpeed: 4000,
			adaptiveHeight: true,
			fade: false,
			focusOnSelect: false,
			arrows: true,
			slidesToScroll: 1,
			slidesToShow: 3,
			responsive: [
			{
			  breakpoint: 1000,
			  settings: {
				slidesToShow: 2,
				slidesToScroll: 1,
			  }
			},
			{
			  breakpoint: 767,
			  settings: {
				slidesToShow: 1,
				slidesToScroll: 1,
			  }
			}
		  ]
			
		});
		
		 $('#news').marquee({
			enable :true,
			direction:'horizontal',
			itemSelecter :'li',
			delay: 0,
			speed: 1,
			timing: 30,
			mouse:true
		  });
		  
		  $('#news2').marquee({
			enable :true,
			direction:'horizontal',
			itemSelecter :'li',
			delay: 0,
			speed: 1,
			timing: 30,
			mouse:true
		  });
		  
		  /*--------------------------*/
		  
		  $('#pop_overlay, #pop_overlay2').css('display','none');
		
		  $('#ing').click(function(e) {
			$("#pop_overlay").fadeIn();
		  });
		  
		  $('#sleep-study').click(function(e) {
			$("#pop_overlay2").fadeIn();
		  });
		  
		  $(".close").click(function(){
			$("#pop_overlay, #pop_overlay2").fadeOut();
		  }); 
 
 		/*--------------------------*/
		var video = $('#myVdo video')[0];
	
		$('.ugc1').click(function(e) {
			$('.ugc-modal').addClass('active');
			$('.video-container').show(); 
			var videoFile = $(this).attr('data-vdo');
			$('.vid-frame').attr('src', (videoFile + '?autoplay=1'));
		});
		
		$('.ugc-close, .ugc-modal').click(function(e) {
			$('.ugc-modal').removeClass('active');
			$('.video-container').hide();
        	$('.vid-frame').attr('src', 'about:blank');
		});
		
    });
	
	
	//MODAL POPUP JS
	$(document).on('click', '#app_common_modal_close', function() {
		$('#app_common_modal').remove();
	});	
	function openNewWindow(page_url, type, window_name, width, height, top, left, features) {
		if (!type) {
			type = 'popup';
		}
		if (!width) {
			width = 480;
		}
		if (!height) {
			height = 480;
		}
		if (!top) {
			top = 50;
		}
		if (!left) {
			left = 50;
		}
		if (!features) {
			features = 'resizable,scrollbars';
		}
	
		if (type == 'popup') {
			var settings = 'height=' + height + ',';
			settings += 'width=' + width + ',';
			settings += 'top=' + top + ',';
			settings += 'left=' + left + ',';
			settings += features;
	
			win = window.open(page_url, window_name, settings);
			win.window.focus();
		} else if (type == 'modal') {
			var html = '';
			html += '<div id="app_common_modal">';
			html += '<div class="app_modal_body"><a href=";" id="app_common_modal_close">X</a><iframe src="' + page_url + '" frameborder="0"></iframe></div>';
			html += '</div>';
	
			if (!$('#app_common_modal').length) {
	
				$('body').append(html);
			}
			$('#app_common_modal').fadeIn();
		} 
	
	}
	
</script>
<script type="application/javascript">
var spd = 100;
var spdVal = 10;
var cntDown = 5 * 60 * spdVal;
setInterval(function () {
    var mn, sc, ms;
    cntDown--;
    if(cntDown < 0) {
        return false;
    }
    mn = Math.floor((cntDown / spdVal) / 60 );
    mn = (mn < 10 ? '0' + mn : mn);
    sc = Math.floor((cntDown / spdVal) % 60);
    sc = (sc < 10 ? '0' + sc : sc);
    ms = Math.floor(cntDown % spdVal);
    ms = (ms < 10 ? '0' + ms : ms);
    var result = mn + ':' + sc;
    document.getElementById('stopwatch').innerHTML = result;
}, spd);
</script>

<script type="text/javascript">
function isScrolledIntoView(elem) {
	var docViewTop = $(window).scrollTop();
	var docViewBottom = docViewTop + $(window).height();
	
	var elemTop = $(elem).offset().top;
	var elemBottom = elemTop + $(elem).height();
	
	return ((elemTop <= docViewBottom) && (elemBottom >= docViewTop));
}

$(document).scroll(function() {	
	
	var $elem = $('.footer');
	var $window = $(window);

	var docViewTop = $window.scrollTop();
	var docViewBottom = docViewTop + $window.height();

	var elemTop = $elem.offset().top;
	var elemBottom = elemTop + $elem.height();

	if (elemTop >= (docViewBottom + 20) || (elemTop + $('#ctabtn-mob').height()) >= (docViewBottom + 134) ) {
		/*$('#ctabtn-mob').css('position', 'fixed');*/
		if (isScrolledIntoView('#choosekit') === true) {
			$('#ctabtn-mob').css('position', 'relative');
		} else {
			$('#ctabtn-mob').css('position', 'fixed');
		}
	} else {
		$('#ctabtn-mob').css({'position' : 'relative'});
		
	}
	
	
});
</script>


